body{
	background-color: #cccccc;
	margin:0; 
	padding:0;
	}

#top{
	
	
	width: auto;
	height: 100px;
	background-color: #333333;
}
#baidulogo{
	position:absolute;
	top:10px;
	left:10px;
}
#daohang{
	position: absolute;
	top:30px;
	right:20px;
	width: 500px;


}
#daohang li{
	float:left;
	margin-right: 30px;
}
#daohang a{
           text-decoration:none;}  
nav a:visited {color: #cccccc}  /*已访问的链接 
/*#daohang a:hover {color: white}  鼠标移动到链接上 */
#daohang a:active {color: #00d0FF}  /*选定的链接 */
.ddf {
	width: 90%;
    padding: 30px;
    margin: 20px auto;
    background-color: white;
    border: thin solid rgb(203, 203, 203);
    box-shadow: 2px 2px 3px rgb(170,170,170);
 
}
/*#footer{
	width: auto;
    padding:20px;
    height:10px;
    background-color: black;
	text-align:center;
    font-size: 10px;
	position: fixed;
	margin-top:100px;
    
}*/
.second{
	width: 90%;
    padding: 30px;
    margin: 20px auto;
    background-color: white;
    border: thin solid rgb(203, 203, 203);
    box-shadow: 2px 2px 3px rgb(170,170,170);
}
.san   {
	width: 90%;
    padding: 30px;
    margin: 20px auto;
    background-color: white;
    border: thin solid rgb(203, 203, 203);
    box-shadow: 2px 2px 3px rgb(170,170,170);
}
#qubie{
	width: 90%;
    padding: 30px;
    margin: 20px auto;
    background-color: white;
    border: thin solid rgb(203, 203, 203);
    box-shadow: 2px 2px 3px rgb(170,170,170);
}
.san #a {
  height: 200px;
  width: 250px;
  border: 1px solid #aaaaaa;
  list-style: none;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

  #tablea{
	width: 90%;
    padding: 30px;
    margin:20px auto auto auto;
    background-color: white;
    border: thin solid rgb(203, 203, 203);
    box-shadow: 2px 2px 3px rgb(170,170,170);
    margin-bottom:20px;
	height:auto;
}
#footer{
height:80px;
position:absolute;
margin:0px;
padding:0px;
background-color: black;
width:100%;
color:white;
text-align:center;
line-height:50px;
font-family: Arial;
}
#a img{
	 height: 160px;
}
nav a:hover{
	color: red;
}
nav a:link{
	color: white;
}
#biaogege{
	margin: 20px auto;
	text-align:left;

	;
}
#biaoti{
	border-left-style: solid;
	border-left-color: #cccccc;
	font-size: 60px;
}
#biaogege #buttona{
	height: 60px;
	 background-color:#3253CD;
  border: none;
	
	background-color:#5d5d5d;
	text-align:center;
	}
#tablelll,#tablelll th,#tablelll td {
	margin:20px auto;
	border: thin solid black;
	padding: 5px;
	border-collapse: collapse;
	font-size: normal;
	
	
	width: 900px;
	height: 30px;
	
}
td  
{  
 white-space: nowrap;  
}  
#tablelll th{
	background-color: black;color: white;
}
.kkk {
	background-color: #333333;
	color:white;
}
#biaogege tr td button{
	margin:none;
padding:none;
width:100%;
border-radius:10px;

}
#biaogege table{
	height: 80%;
            width: 80%;         /*  必须设置一个宽度， margin: 0 auto才能使之居于父组件中央*/
            margin: 10px auto; 
}
td 
{width:10%;}
.tdde{
	float: right;
	position: relative;
	right:100px;
}
#asdasd{
	color: #ccc;
	font-size: 70%;
}